name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: 拉取最新程式碼
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        port: 22
        script: |
          cd /home/dev-vue-admin-filament/htdocs/admin-filament.dev-vue.com
          git pull
          composer install
          php artisan migrate --force
          php artisan config:cache
          php artisan view:cache
          php artisan route:cache
          php artisan lang:publish
          composer dump-autoload
          php artisan config:cache
          php artisan route:cache
          php artisan view:cache
          php artisan vendor:publish --force --tag=livewire:assets
          php artisan filament:assets
          php artisan filament:cache-components